.col-md-2.fixed(style  = 'margin-left: 85.2%; margin-top: 5em')
	.col-md-11.no-padding(style = 'margin-top: 20px;margin-right: 10px; background-color: white')
		.datepicker.no-padding(style=' font-size:10px;')         