head
    meta(charset='utf-8')
    title LEGALEAZE

    link(href='/public/less/app/app.less', rel='stylesheet', type = 'text/less')
    link(href='/public/less/app/bootstrap-select.min.css', rel='stylesheet', type = 'text/css')
    link(href='/public/less/app/bootstrap-datetimepicker.min.css', rel='stylesheet', type = 'text/css')
    link(rel="icon" href="/public/images/logo.png" type="image/png" style = 'height: 50px; width: 50px')
    script(src='/public/js/vendor/less-1.7.0.min.js', type='text/javascript')
    script(src='/public/js/vendor/jquery-1.11.1.min.js', type='text/javascript')
    script(src='/public/js/vendor/jquery-ui.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap.min.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap-select.min.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap-datetimepicker.min.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap-datepicker.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap-filestyle.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap.file-input.js', type='text/javascript')
    script(src='/public/js/vendor/moment.js', type='text/javascript')
    script(src='/public/js/listpage.js', type='text/javascript')
    script(src='/public/js/add-matter.js', type='text/javascript')
    script(src='/public/js/userDashboard.js', type='text/javascript')
    script(src='/public/js/send-receive.js', type='text/javascript')
    script(src='/public/js/homepage.js', type='text/javascript')
    script(src='/public/js/statewithdistrict.js', type='text/javascript')
    script(src='/public/js/calender.js', type='text/javascript')
    