div#national-green-tribunal-data-modal     
  .container-fluid
    .row
      h2 National Green Tribunal
    form(role='form' id='national-green-tribunal-form', method='post', enctype='multipart/form-data')
      input#csrf-token-green-tribunal(type='hidden', name='_csrf', value='#{csrfToken}')
      input#national-green-tribunal-court-name(type='hidden', name='courtName', value='National Green Tribunal')
      .form-group
        label.col-md-4(for='national-green-tribunal-case-date')
          | Case Date:
        .col-md-8
          
            input#national-green-tribunal-case-date.form-control(type='text', data-format="dd-MM-yyyy" name='caseDate', placeholder="DD-MM-YYYY")
            
          p.help-block
      .form-group
        label.col-md-4(for='national-green-tribunal-case-type')
          | Case Type:
        .col-md-8
          select#national-green-tribunal-case-type(size='1' name='caseType' class="selectpicker" )
            option(value='') --Select Case Type--
            option(value='Appeal No.') Appeal
            option(value='Original Application No.') Original Application
            option(value='Misc Application No.') Misc Application          
      .form-group
        label.col-md-4(for='national-green-tribunal-case-number')
          | Case Number:
        .col-md-8
          input#national-green-tribunal-case-number.form-control(type='text', name='caseNumber', placeholder='Case Number', style='width:220px;')             
          p.help-block
      .row
        .col-md-4
        .col-md-8
          button.btn.btn-primary#btn-national-green-tribunal-submit(type='button' style="margin-left:5px;")
            | Submit