doctype html
html(lang='en')
  include ./partials/head.part.jade
  body(style = 'padding-top: 0')
    .container-fluid
      .row
        .col-md-12.no-padding
          nav.navbar-default(role='navigation')
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='/', style = 'margin-top: -8px') 
                  img(src='/public/images/logo.png', height='30px', width:='30px', margin-top: '-7px')
              // Collect the nav links, forms, and other content for toggling
              div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') HOME
                  li
                    a(href='/aboutus') ABOUT US
                  li
                    a(href='/subscription') SUBSCRIPTION
                  li
                    a(href = '/faq') FAQ
                  li
                    a(href = 'privacy&security') PRIVACY & SECURITY
                  li
                    a(href='/contactus') CONTACT US
      .row 
        .col-md-12(style='background-color: rgb(225, 225, 225)')
          .col-md-12
            h3
             | Privacy
            p
              | Legaleaze remains committed to ensuring your privacy and takes due reasonable care to undertake all administrative, technical and physical security measures to protect your personal information, payment information and any data you may share with us from unauthorized access. Any of the above information shall not be disclosed, sold or revealed to any third party without authority. 
            p
              | We maintain stringent security controls to protect the loss, misuse and alteration of the information under our control and ensure that information shared with our server remains secure and protected. In ensuring that we maintain data accuracy and the correct use of your information we employ all reasonable and current internet security technologies.  
            p
              | You shall need to provide Legaleaze with certain personal information to register with Legaleaze which would be necessary to create a user identity to begin using the services of Legaleaze. Legaleaze only requires/collect such information which it considers relevant to verifying your identity and authenticating the use of its services. If you decline to submit personal information to us in accordance with this privacy policy, then we shall not be in a position to provide any services to you.
            p
              | In gaining access to this site, certain information about you such as your Internet Protocol (IP) address, navigation on the site, your subscriptions, transaction patterns, your registration information and other similar information may be stored on our servers. We may use this information to optimize, secure and personalize your online experience.  
            p
              | We use certain third party services and data analytics on our website and we take due reasonable precaution to ensure that the effects of these are non-disruptive and contribute positively towards promoting smooth web-flow and safety. 
            p
              | All transactions made on our website and all data shared with us are/is SSL secured meaning that all information is transmitted using a Secure Socket Layer (SSL) encryption. SSL is a proven coding system that lets your browser automatically encrypt, or scramble, data before you send it to us. 
            p
              | Any data uploaded by you on this website shall be stored in a secure format using encrypted channels of transmission and shall not be shared with any third party.
            p
              | While we do everything we reasonably can to protect your rights of privacy on systems and the website controlled by us, however we shall not be liable for any unauthorized disclosures of information made by third parties who gain unauthorized access or by third parties who having authorized access violate or breach their conditions of privacy, security or their terms of use.  
            p
              | We respect your privacy and all the data provided by your shall be governed under this privacy policy and the terms of use of Legaleaze, which may be amended from time to time. We shall also continue to enhance our security measures as new technology becomes available.
            p
              | If you have any questions regarding this privacy policy or if you feel that this privacy policy has been violated in any way then please write to us at contact@legaleaze.in or send in post at:
              
            h3
              | Security
            p
              | Legaleaze is committed towards ensuring the full security of all information shared with us and the integrity of all transactions conducted on our site. In keeping with our commitment to security: 
            ul
              li
                | We only provide access to verified users after authenticating their details.
              li
                | We employ all reasonable technical measures to enforce security and protect your personal information. 
              li
                | We encrypt the exchange of information or interaction with our systems wherever possible.
              li
                | We monitor and review transactions on a regular basis to identify potential problems and take prompt corrective steps to limit any potential damage which is likely to be caused.
              li
                | Our payment portal is linked to CCAvenue, an advanced and secure payment gateway with multiple options of payment.
              p
                Though Legaleaze takes all reasonable measures to ensure that all information exchanged through our website remains secure, Legaleaze shall not be held liable for any loss, damage or misuse of your personal information is such loss, damage or misuse is attributable to a Force Majeure Event which shall be taken to mean any event that is beyond the reasonable control of Legaleaze and shall include sabotage, natural calamities, riots, war, act of government, hacking, unauthorized access to data and storage devices, computer crashes, breach of security and encryption etc. 
              p
                If you have any questions regarding this security policy or if you feel that this security policy has been violated in any way then please write to us at contact@legaleaze.in or send as post at: 
              br
              | Legaleaze
              br
              | Office No. 2, 3rd Floor,
              br
              | Somdutt Plaza,
              br
              | 15/299, The Mall,
              br
              | Kanpur - 208001
