doctype html
html(lang='en')
  include ./partials/head.part.jade
  body(style = 'padding-top: 0')
    .container-fluid
      .row
        .col-md-12.no-padding
          nav.navbar-default(role='navigation')
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='/', style = 'margin-top: -8px') 
                  img(src='/public/images/logo.png', height='30px', width:='30px', margin-top: '-7px')
              // Collect the nav links, forms, and other content for toggling
              div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') HOME
                  li
                    a(href='/aboutus') ABOUT US
                  li
                    a(href='/subscription') SUBSCRIPTION
                  li
                    a(href = '/faq') FAQ
                  li
                    a(href = 'privacy&security') PRIVACY & SECURITY
                  li
                    a(href='/contactus') CONTACT US

      .row(style = 'background-color: rgb(225, 225, 225); text-align: justify') 
        .col-md-12
          .col-md-12 
            h3
              | Terms of Use
            p
              | These Terms and Conditions (“Agreement”) govern the use of the services (“Service”) that are made available by “Legaleaze” through its website www.legaleaze.in and any allied services thereto. This Agreement represents the whole agreement and understanding between Legaleaze and the individual or entity (“subscriber”) subscribing to such services of Legaleaze.
            p
              | Legaleaze may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modification shall be made effective for all subscribers upon the publication of such Agreement on this web address - ______________. Please read this Agreement regularly to ensure that the use of this service remains in compliance with this Agreement.
            h3
              | Account, Registration and Subscriptions 
            ul
              li
                | The subscriber will be entitled to avail and access the services of Legaleaze only after creating an account with mandatory information authenticating the user’s identity. The user shall be responsible for maintaining the confidentiality of the account details and for all activities that occur under such account. The subscriber agrees to immediately notify Legaleaze of any unauthorized use, access or breach of security relating to the subscriber’s account. Legaleaze shall not be liable for any loss or damage arising from the failure to follow the prescribed norms of usage. 
              li
                | In the event that there is reason to believe that any details provided by the user are inaccurate, untrue, incomplete or misleading then Legaleaze may choose to terminate or block access to such account as well as the website by such user.
              li
                |  Legaleaze shall charge in advance at the published rates to activate any of the paid plans and the period of such plan will be termed as a ‘billing cycle’. Legaleaze reserves the right to change the rates of subscription at the end of any billing cycle.
              li
                |  Legaleaze may choose to alter the terms of the free trial it affords to its users at any time without prior notice.
              li
                |  All subscription fees paid is non-refundable. All taxes and imposts of any kind, as existing currently or subsequently imposed are to be borne by the subscriber in accordance with the published subscription rates.
              li
                |  An account governed by this Agreement is for the limited purpose of carrying out and providing (a) online scheduling services; (b) providing online storage services and (c) providing online collaborating services between nominated groups of users. Legaleaze reserves the right to question or block the use of the account in any other manner than envisaged.
              li
                |  The use of an account governed by this Agreement by a subscriber, or any person designated by the subscriber or deriving authority for access by such subscriber, shall constitute an acceptance of this Agreement in its entirety.
            p
              | The termination of an account for any reason, including non - renewal, failed payment, use of account in an unauthorized manner shall result in the loss of all data uploaded or shared with Legaleaze. Legaleaze shall not be liable for any loss or damage as a result of such termination of the account.
            h3
              |  Access & Use 
            ul
              li
                |  In accessing any part of this website, the subscriber agrees: 
              li
                ul
                  li
                    | Not to use this website in such a way that it disrupts the functioning of the website or interferes with the use of the website by other users;
                  li
                    | Not to upload, display or transmit any material through this website which are false, offensive, defamatory, threatening, obscene, unlawful or which infringe the rights of any third party;
                  li
                    | Not to reverse engineer, decompile, deconstruct, copy or adapt any software or other code or scripts forming part of this website or attempt to transmit to or through this website any information which contains a virus or any other disruptive component;
                  li
                    |  Not to change, modify, delete, interfere with or misuse data contained on this website and entered by or relating to any third party user of this website
                  li
                    |  Not to probe, scan or test the vulnerability of the website or any network connected to the website nor breach the security or authentication measures of the website
                  li
                    |  Not to exploit the website for any other means other than those intended or impose an unreasonably large load on the infrastructure of the website.
                  li
                    |  Not to use any device, software, or routine to interfere or attempt to interfere with the proper working of the website or any transaction conducted on the website, or with any other person’s use of the website. 
              li
                | Material contained in this website may be used and printed for personal use or internal circulation within the subscribers organization only provided that no trade mark, copyright or other notices contained in or appearing on such material are removed in whole or in part. Material contained in this website may not otherwise be copied, reproduced or redistributed in whole or in part without the prior approval of Legaleaze.
              li
                |  In particular, the material contained in this website must not be reproduced or exploited for commercial gain. All other rights are reserved and subscribers must seek permission before making any other use of materials contained in this website.
            h3
              | Intellectual Property Rights 
            p
              | Legaleaze owns or is licensed to use all intellectual property rights in and relating to this website and all technical infrastructure relating to it.
            h3
              | Privacy
            px
              |  If the subscriber supplies personal details to us through this website then the subscriber shall consent to our maintaining, recording, holding and using such personal data in accordance with our ‘Privacy Policy’ available here.
            h4  
              | Data Security
            ul
              li
                |  In the event that data is shared with Legaleaze, Legaleaze shall only enjoy only limited rights over them to enable the services of the website. The subscriber agrees to give Legaleaze and the trusted third parties Legaleaze works with to do all things necessary to enable its services in the fullest manner.
              li
                |  Legaleaze undertakes due precaution and necessary measures to maintain the security and integrity of your data. Read more about our Security Policy available here.
            h3
              |  Liability & Limitations 
            ul
              li
                |  Owing to the nature of the internet, Legaleaze cannot guarantee that this website or the websites to which it is linked will always be available to users. The subscriber should ensure that it has appropriate protection against viruses and other security arrangements in place.
              li
                 While all reasonable care has been taken to ensure the accuracy and completeness of the information published/updated on this website, Legaleaze shall not be liable in any manner for any mistake or omission in the information provided through the website or for any action taken or omitted to be taken or advice rendered or accepted on the basis of the information provided through the website or for any consequential loss or inconvenience arising therefrom.
              li
                 The subscriber acknowledges and agrees that the website and the information contained therein is to be used only as a reference aid and is not intended to be a substitute for professional judgment by the subscriber in the absence of independent verification of the same.
              li
                The services of this website are made available strictly on the basis that they are accepted on an ‘as is’ and ‘as available’ basis. The subscriber agrees that any reliance on the website or any material contained in it shall be at the subscriber’s risk and that all warranties and liabilities for loss and damage are excluded to the fullest extent permitted by law.
            h3
              | Indemnification
            ul
              li
                |  To the maximum extent permissible by law, the subscriber agrees to indemnify, defend and hold Legaleaze and its agents harmless from all losses, liabilities, claims, damages, demands, costs and expenses (including legal fees and disbursements) asserted against or incurred by Legaleaze that arise out of, result from, or may be payable by virtue of  any breach, violation or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by the subscriber which includes any claims by third parties for any damage caused, directly or indirectly, to such third party as a consequence of such breach, violation or non-performance. 
              
            h3
              | PAYMENT
            ul
              li
                |  While availing the mode of payment available on the website, Legalaeaze shall not be responsible or assume any liability whatsoever in respect of any loss or damage, arising directly or indirectly to the subscriber due to: 
              li
                ul
                  li
                    | Lack of authorization for any transactions, or
                  li
                    | Exceeding a pre-set limit, or
                  li
                    | Any payment issues arising out of the transaction, or
                  li
                    | Decline of transaction for any other reason.               
              li
                |  All payments made against the services provided by Legaleaze shall be compulsorily in Indian Rupees acceptable in the Republic of India. 
              li
                |  The subscriber agrees to provide correct and accurate credit/ debit card details to the approved payment gateway for availing services on this website and ensure that such use is fully authorized and does not cause any harm to any third party. 
              li
                |   The information shared by the subscriber shall not be shared with any third party unless required in relation to fraud verifications or by law, regulation or court order.
              li
                |  Legaleaze disclaims all liabilities that may arise as a consequence of any unauthorized use of your payment details or credit/debit card information.
            h3
              |  Jurisdiction & Dispute settlement 
            ul
              li 
                |  This Agreement and all ancillary issues pertaining to the relationship between the subscriber and Legaleaze shall be governed in accordance with the laws of India.
              li
                |  The Parties to this Agreement (i.e Legaleaze & the Subscriber) agree that all claims, differences and disputes arising under or in connection with this Agreement shall be subject to arbitration by a sole arbitrator to be appointed by Legaleaze and any arbitral award so made shall be subject to the jurisdiction of the courts at New Delhi, India.
            h3
              |  Communication
            ul
              li
                |  The Subscriber agrees that the exchange of information and communication with Legaleaze shall occur over digital medium using electronic records and that Legaleaze may communicate any issues to the subscriber using such digital medium as appropriate.
              li
                |  For the purposes of this Agreement, the subscriber shall communicate with Legaleaze only via the following email addresses: a) contact@legalaeaze.in and b) support@legaleaze.in  
              li
                |  Only upon the failure to correspond using the above email addresses shall the subscriber use the following postal address for communication: 
              br
              | Legaleaze
              br
              | Office No. 2, 3rd Floor,
              br
              | Somdutt Plaza,
              br
              | 15/299, The Mall,
              br
              | Kanpur - 208001
            h3
              | Subscription Plan
            .col-md-12
              ul
                li
                  h3
                    | The Free plan @ nothing
                  .col-md-12
                    .col-md-6(style = 'border: 1px solid black')
                      | Space
                    .col-md-6(style = 'border: 1px solid black')
                      | Schedular Entries
                    .col-md-6(style = 'border: 1px solid black')
                      | .5GB
                    .col-md-6(style = 'border: 1px solid black')
                      | 10
            .col-md-12
              ul
               li
                  h3
                    | The Small plan  @ Rs. 450/- per month OR @  Rs. 5000/- per year
                  .col-md-12
                    .col-md-6(style = 'border: 1px solid black')
                      | Space
                    .col-md-6(style = 'border: 1px solid black')
                      | Schedular Entries
                    .col-md-6(style = 'border: 1px solid black')
                      | 2GB
                    .col-md-6(style = 'border: 1px solid black')
                      | Up to 60
            .col-md-12
              ul
                li
                  h3
                    | The Medium plan   @ Rs. 750/- per month OR Rs. 8500/- per year 
                  .col-md-12
                    .col-md-6(style = 'border: 1px solid black')
                      | Space
                    .col-md-6(style = 'border: 1px solid black')
                      | Schedular Entries
                    .col-md-6(style = 'border: 1px solid black')
                      | 6GB
                    .col-md-6(style = 'border: 1px solid black')
                      | Up to 150
            .col-md-12
              ul
                li
                  h3
                    | The large plan @ Rs. 1000/- per month Rs. 11,200/- per year 
                  .col-md-12
                    .col-md-6(style = 'border: 1px solid black')
                      | Space
                    .col-md-6(style = 'border: 1px solid black')
                      | Schedular Entries
                    .col-md-6(style = 'border: 1px solid black')
                      | 50GB
                    .col-md-6(style = 'border: 1px solid black')
                      | Up to 500

            p
              b
                | ** All the above prices are exclusive of applicable service tax. 

















  