html(lang='en')
  include ./partials/head.part.jade
  body(style = 'padding-top: 0; background-color: rgb(225,225,225);overflow-x: hidden')
    .container-fluid
      .row
        .col-md-12.no-padding
          include ./partials/bars/navbar.part.jade
      .row(style='padding-left:20px; padding-right:20px; margin-top:20px')
        .col-md-4(style='padding-right:30px; padding-left:30px')
          .row(style='background-color:white; padding: 3px 7px')
            form(action='https://test.payu.in/_payment', method='post')
              input(type='hidden', name='firstname', value='kuldeep')
              input(type='hidden', name='lastname', value='patel')
              input(type='hidden', name='surl', value='https://www.google.com')
              input(type='hidden', name='phone', value='8130857967')
              input(type='hidden', name='key', value='zzLz4z')
              input(type='hidden', name='hash')              
              input(type='hidden', name='txnid', value='1')
              input(type='hidden', name='productinfo', value='scrap cases')
              input(type='hidden', name='amount', value='100.00')              
              input(type='submit', value='submit')
  script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js')
  script.
    var hash = CryptoJS.SHA512('zzLz4z'|1|100.00|'scrap cases'|'kuldeep'|'kuldeepp89@gmail.com'|'VXtL4f0y');
    document.getElementByName('hash').val(hash);
    alert(hash);



            
      
                    
