doctype html
html(lang='en')
  include ../partials/head.part.jade
  body(style = 'padding:0')
    nav.navbar-default(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(style='margin-top: -8px', href='/')
              img(height='30px', margin-top:='-7px', width:='30px', src='/public/images/logo.png')
          
        // Collect the nav links, forms, and other content for toggling
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') HOME
            li
              a(href='/aboutus') ABOUT US
            li
              a(href='/subscription') SUBSCRIPTION
            li
              a(href = '/faq') FAQ
            li
              a(href = 'privacy&security') PRIVACY & SECURITY
            li
              a(href='/contactus') CONTACT US
  
    #body-row1.row(style = 'padding-top: 70px')
      .col-md-12
        .row
          .col-md-3.inside-row1
            .row
              img.img-responsive.img-rounded(width='227', height='100', alt='', src='/public/images/4.png')
              .col-md-12.inside-column1(style = 'height: 300px')
                h4.title1 YOUR DIARY
                h4.title2 JUST GOT SIMPLER
                p.description1
                  | Legaleaze is a smart and intuitive online scheduler which tracks all your engagements and automatically updates the ones when changes are accessible publicly, such as court cases. You can even pull out your next day’s schedule - or your personal cause list - every evening. We currently cover eight (8) forums currently and are expanding. Your diary just got simpler. 
          .col-md-3.inside-row1(style = 'height: 300px')
            .row
              img.img-responsive.img-rounded(width='227', height='69', alt='', src='/public/images/3.png')
              .col-md-12.inside-column2(style = 'height: 300px')
                h4.title1 YOUR SHELVES
                h4.title2 JUST GOT LIGHTER
                p.description1
                  | In addition to allowing you to manage your calendar, you can use Legaleaze’s online storage to back-up, share, organize or simply carry your office wherever you go. Never bother about lost files and jumbled case dockets – they will be a click away for as long as you wish. Your shelves just got lighter. 
          .col-md-3.inside-row1
            .row
              img.img-responsive.img-rounded(width='227', height='69', alt='', src='/public/images/2.png')
              .col-md-12.inside-column1(style = 'height: 300px')
                h4.title1 YOUR WORKDAYS
                h4.title2 JUST GOT SHORTER
                p.description1
                  | With limited free access to all functions and flexible subscription plans thereafter, Legaleaze fits right into your office and doesn’t even take up a chair. Reduce human effort where you can and human error where you must. Your life just became easier and your evenings freer.

          .col-md-3.inside-row1
            .row
              img.img-responsive.img-rounded(width='227', height='69', alt='emu', src='/public/images/1.png')
              .col-md-12.inside-column2(style = 'height: 300px')
                form.login-form(method='post', action='/forgot')
                  .form-group
                    input(type='hidden', name='_csrf', value='#{csrfToken}')
                    input#username.form-control(type='text', autocomplete='off', name='EMAIL', placeholder='email', style='font-size:12px; font-weight:bold; color:#F7AB2E; background:black; text-align:center; margin-top: 17px')

                  button.btn.btn-default.btn-block(style='font-size:12px; color:#F7AB2E; margin-top:-7px;border-radius: 0px;margin-left:0px;text-align: center', type='submit') SUBMIT
               
                .form-group
                  a(href = '/login' style= ' color: gray')
                    button.btn.btn-default.btn-block(style='font-size:12px; background-color:black;color:#F7AB2E;margin-top:30px;border-radius: 0px;margin-left:0px;text-align: center', type='button')
                      | GO TO LOGIN
                  a(href = '/register')
                      button.btn.btn-default.btn-block(style='font-size:12px; background-color:black;color:#F7AB2E;margin-top:30px;border-radius: 0px;margin-left:0px;text-align: center', type='button') REGISTER
                  

  #bottom-menu.row
    .col-md-3
    .col-md-6
      #bottom-nav-menu.row
        .col-md-2
        //
                  <div class="col-md-2" style="padding-left:120px"> 
                  <h6 style="text-right"><a href="aboutus.html">ABOUT</a></h6>
                  </div>
                  
        .col-md-2(style='padding-left:50px')
          h6(style='text-center')
            a(href='/faq') FAQ
        .col-md-2(style='padding-left:20px')
          h6(style='text-center')
            a(href='privacy&security') PRIVACY
        .col-md-2(style='padding-left:20px')
          h6.text-left
            a(href='/privacy&security') SECURITY
        .col-md-2(style='padding-left:-20px')
          h6.text-left
            a(href='/contactus') CONTACT
        .col-md-2
    .col-md-3
  .row
    .col-md-3
    #bottom-row.col-md-6
      p
        span.stretch WELCOME TO LEGALEAZE YOUR LEGAL LIFE JUST GOT EAZIER
    .col-md-3
          
    script(src='/public/js/vendor/jquery-1.11.1.min.js', type='text/javascript')
    script(src='/public/js/vendor/bootstrap.min.js', type='text/javascript')
                    
