extend ../partials/init.part.jade

block bodyBlock
  
  section#main
    .container-fluid
       include ../partials/flash.part.jade
      .row-fluid
        .span12
          .login-container.center
            .title.text-transparent Sign in
            hr.main
            form.login-form(method='post')
              input(type='hidden', name='_csrf', value='#{csrfToken}')
              ul.fields-list
                li
                  i.icon-key
                  input#password(type='password', autocomplete='off', name='password', placeholder='password')
                li
                  i.icon-key
                  input#password(type='password', autocomplete='off', name='confirmPassword', placeholder='confirm password')
              .actions
                button.btn.btn-large.medium-blue.login-btn(type='submit')
                  | Change Password
                a.btn.btn-large.medium-blue.login-btn(href='/login')
                  | Go to Login
                a.btn.btn-large.medium-blue.login-btn(href='/register')
                  | Go to Register
              hr.main
